<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url(https://i8.photo.2gis.com/images/branch/32/4503599646196710_830f.jpg)">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
<!--<div class="jumbotron text-center" style="height: 300px">-->
<!--    <tr style="margin-bottom: 50px">-->
<!--        <th> <img src="https://images.aif.by/007/555/1fa244fc7a4a0e1f67112359f6660366.jpg"-->
<!--                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px;"></th>-->


<!--        <th> <img src="https://media.kudago.com/thumbs/l/images/list/19/8e/198e76ab4a007cccae6e2e5d2c7fa570.jpg"-->
<!--                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px;"></th>-->



<!--        <th> <img src="https://sun9-52.userapi.com/impg/rjAb_0p4ZJbDPYuZvZZ7UjGBuJxQwVt5PCK-jQ/It5YKdZSUtM.jpg?size=807x567&quality=96&sign=a2af117f1ab4efa8b8faf96122ad1c91&type=album"-->
<!--                  class="img-rounded" alt="Cinque Terre" style="width: 250px; height: 150px; "></th>-->



<!--        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcPp1k5vuRHL_Pijr_itSACvbo3MtgEU6ZBxVeHMUG9UDdEEp1NtEuIsXc5v9aanFY96k&usqp=CAU"-->
<!--                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px; margin-bottom: 10px">-->
<!--        </th>-->

<!--        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQykk-eJ-h9X1WBlq4a9Ffb_pTNUMUq9mKYrHoKQJXsFOILW0FToR-NaQ_R3KYL5rEOC70&usqp=CAU"-->
<!--                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px">-->
<!--        </th>-->

<!--    </tr>-->

<!--    <a th:href="@{/cinema/find_all}"><h2><strong>Buy Tickers In One Click</strong></h2></a>-->
<!--    <p><small>All the latest movie premieres are waiting for you!</small></p>-->

<!--    <div class="btn-group" style="margin-left: 1530px">-->
<!--        <button type="button" class="btn btn-default" th:href="@{/cinema/find_all}"><strong>AllCinemas</strong></button>-->
<!--        <button type="button" class="btn btn-default" th:href="@{/movie/find_all}"><strong>AllMovies</strong></button>-->
<!--        <button type="button" class="btn btn-default" th:href="@{/session/find_all}"><strong>AllSessions</strong></button>-->

<!--    </div>-->


</div>
<table class="table"
       style="width: 500px; height: 300px; margin-top: 200px; margin-left: 300px">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">ADDRESS</th>
        <th scope="col"><b style="color: darkblue"><a th:href="@{/cinema/save}"> ADD CINEMA</a> </b></th>
    </tr>
    <tr th:each="cinema:${all_cinemas}">
        <td style="color: darkkhaki" th:text="${cinema.id}"></td>
        <td style="color: darkkhaki" th:text="${cinema.name}"></td>
        <td style="color: darkkhaki" th:text="${cinema.address}"></td>
        <td>
            <a th:href="@{/cinema/delete_by_id/{id}(id=${cinema.getId()})}">
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </a>
        </td>
        <td>
            <a th:href="@{/cinema/update/{id}(id=${cinema.getId()})}">
                <button type="button" class="btn btn-outline-success">Update</button>

            </a>

        </td>
        <td>
            <a th:href="@{/room/find_by_id/{id}(id=${cinema.getId()})}">
                <button type="button" class="btn btn-warning">Room</button>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--        <th scope="row">1</th>-->
<!--        <td>Mark</td>-->
<!--        <td>Otto</td>-->
<!--        <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">2</th>-->
<!--        <td>Jacob</td>-->
<!--        <td>Thornton</td>-->
<!--        <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th scope="row">3</th>-->
<!--        <td>Larry</td>-->
<!--        <td>the Bird</td>-->
<!--        <td>@twitter</td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>
</body>
</html>