<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div>
    <form
            th:object="${room}"
            th:method="post"
            th:action="@{/room/merge_update/{id}(id=${room.id})}"

            style="width: 500px; height: 300px; margin-top: 200px; margin-left: 500px">

        <div class="form-group">
            <label for="exampleInputEmail1">raising</label>
            <input th:field="${room.rating}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="rating">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">name</label>
            <input th:field="${room.name}" type="text" class="form-control" id="exampleInputPassword" placeholder="room name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">session</label>
            <input th:field="${room.sessions}" type="text" class="form-control" id="exampleInputPassword1" placeholder="room">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">place</label>
            <input th:field="${room.places}" type="text" class="form-control" id="exampleInputPassword4" placeholder="room">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">cinema</label>
            <input th:field="${room.cinema}" type="text" class="form-control" id="exampleInputPassword6" placeholder="room">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>